# Root EAS Build ignore rules
node_modules/
.expo/
.pnpm-store/
outputs/
apps/mobile/android/app/build/
apps/mobile/android/.gradle/
apps/mobile/android/build/
apps/mobile/ios/Pods/
apps/mobile/ios/build/
